<!DOCTYPE html>
<body>
    <h1>World Happiness Index Heat Map</h1>

    <div id="WHI_heatMap"></div>

    <button onclick = "welcome()">Welcom!</button>

    <script>
      function welcome() {
        var customMessage = "This is a heat map showing the Happiness Score of each country";
        alert(customMessage);
      }
    </script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <select id="selDataset" onchange=selYear()>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
      </select>

      <link rel="Stylesheet" href="../Static/jquery-jvectormap-2.0.5.css">
    
      <script src="../Static/data.js"></script>
      <script src="../Static/world_map.js"></script>
      
</body>

<html>
<head>
  <title>jVectorMap demo</title>
  <link rel="stylesheet" href="../Static/jquery-jvectormap-2.0.5.css" type="text/css" media="screen"/>

  <script src="../Static/jquery.js"></script>
  <script src="../Static/jquery-jvectormap-2.0.5.min.js"></script>
  <script src="../Static/jquery-jvectormap-world-mill.js"></script>
</head>

<body>
  <div id="world-map" style="width: 1200px; height: 600px"></div>
  <script>

    var ScoreData =selYear();

    console.log(ScoreData)

    var gdpData = {
    "AF": 16.63,
    "AL": 11.58,
    "DZ": 158.97,
    "ZA": 4.642,
    "ZM": 5.129,
    "ZW": 4.61,
    "CA": 7.427
    };

    $(function(){
  $('#world-map').vectorMap({
    map: 'world_mill',
    series: {
      regions: [{
        values: ScoreData,
        scale: ['#C8EEFF', '#0071A4'],
        normalizeFunction: 'polynomial'
      }]
    },
    onRegionTipShow: function(e, el, code){
      el.html(el.html()+' (Score: '+ScoreData[code]+')');
    }
  });
});
  </script>
</body>
</html>

